files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_run_migrations.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      api_container_id=$(docker ps | grep -e compulsivecoders-api | awk '{print$1;}') && docker exec -d $api_container_id yarn run typeorm migration:run
